<!-- Services Details-->
<section class="page-section" id="providerlistdetails">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center mt-0">{{company.company_name}}</h2>
    <hr class="divider my-4" />

    <div class="row my-4">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Company Phone</h5>
            <p class="card-text">{{company.phone}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Company Location</h5>
            <p class="card-text">{{company.city}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Company</th>
            <th scope="col">Location</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">{{id}}</td>
            <td scope="row">{{company.company_name}}</td>
            <td scope="row">{{company.city}}</td>
            <td scope="row">{{company.phone}}</td>
          </tr>
        </tbody>

      </table>

    </div>
    <div class="row my-4">
      <div class="text-center mt-0">
        <a href="/provider/edit-provider/{{id}}" class="btn btn-info btn-sm">
               Edit Provider
        </a>
      </div>
    </div>
  </div>
</section>
