<!-- Add-->
<section class="page-section" id="update">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <h2 class="text-center mt-0">Added Successfuly !!</h2>
            <hr class="divider my-4" />
            <h2 class="text-black-50 mb-4"></h2>
        </div>
    </div>
</section>