<section class="page-section" id="login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Login</h2>
        <hr class="divider my-4" />
      </div>
    </div>

    <div class="row justify-content-center">
      <form>
        <div id="form-group">
          <label for="email">Email address</label>
          <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com"
            aria-describedby="emailHelp" required>
          <small id="emailHelp" class="form-text text-muted">we'll never share your email with anyone else.</small>
        </div>
        <!-- Password number input-->
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" name="password" id="password" type="password" required>
        </div>
<div class="text-center my-2">
          <button class="btn btn-primary btn-block " id="submit" type="submit">Submit</button>
</div>
        <hr class="divider my-4">
        <div class="text-center">
          <a class="small" href="/forgot-password">Forget Password</a>
        </div>
      </form>
    </div>
  </div>
</section>