<section class="page-section" id="edit">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Add a New provider</h2>

        <hr class="divider my-4" />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="row o-hidden border-0">
        <div class="col-lg-12">
          <h2 class="text-center mt-0" *ngIf="submitted">Added Successfuly !!</h2>
          <p class="mt-0 alert alert-danger" *ngIf="emailError">
            *Error:{{emailErrorMsg}}
          </p>

          <form [formGroup]="providerForm" *ngIf="!submitted" (ngSubmit)="handleSubmit()">
            <div class="form-group row">

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="fname">First Name</label>
                <span class="text-danger"
                  *ngIf="providerForm.get('first_name').touched && providerForm.get('first_name').errors?.required">
                  *Required
                </span>
                <input class="form-control form-control-user" type="text" formControlName="first_name" />
                <div class="text-danger"
                  *ngIf="providerForm.get('first_name').touched && providerForm.get('first_name').errors?.minlength">
                  Minimum 2 characters
                </div>
              </div>

              <div class="col-sm-6">
                <label for="lname">Last Name</label>
                <input class="form-control form-control-user" type="text" formControlName="last_name" />
                <span class="text-danger"
                *ngIf="providerForm.get('last_name').touched && providerForm.get('last_name').errors?.required">
                *Required
              </span>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <span class="text-danger"
                *ngIf="providerForm.get('email').touched && providerForm.get('email').errors?.required">
                *Required
              </span>
              <input class="form-control form-control-user" type="email" formControlName="email" />
              <div class="text-danger" *ngIf="providerForm.get('email').touched && providerForm.get('email').invalid">
                Invalid email
              </div>
            </div>


            <div class="form-group">
              <label for="position">Position</label>
              <input class="form-control form-control-user" type="text" formControlName="position" />
              <span class="text-danger"
              *ngIf="providerForm.get('position').touched && providerForm.get('position').errors?.required">
              *Required
            </span>
            </div>

            <div class="form-group row">

              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="cname">Company Name</label>
                <input class="form-control form-control-user" type="text" formControlName="company_name" />
                <span class="text-danger"
                *ngIf="providerForm.get('company_name').touched && providerForm.get('company_name').errors?.required">
                *Required
              </span>
              </div>

              <div class="col-sm-6">
                <label for="city">Location</label>
                <input class="form-control form-control-user" type="text" formControlName="city" />
                <span class="text-danger"
                *ngIf="providerForm.get('city').touched && providerForm.get('city').errors?.required">
                *Required
              </span>
              </div>

            </div>

            <div class="form-group">
              <label for="phone">Phone</label>
              <span class="text-danger"
                *ngIf="providerForm.get('phone').touched && providerForm.get('phone').errors?.required">
                *Required
              </span>

              <input class="form-control form-control-user" type="phone" formControlName="phone" />
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-8 text-center">
                <button class="btn btn-primary btn-block my-4" type="submit" [disabled]="providerForm.invalid">Add New
                  Provider</button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
