<section class="page-section" id="contact">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 col-xl-6 text-center">
        <h2 class="mt-0">Let's Get In Touch!</h2>
        <hr class="divider" />
        <p class="text-muted mb-5">Ready to start your next project with us?
          Send us a messages and we will get back to you as soon as
          possible!</p>
      </div>
    </div>
    <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
      <div class="col-lg-6">

        <form #contactForm="ngForm" (ngSubmit)="handleSubmit(contactForm)">
          <!-- Name input-->
          <div class="form-row">
          <div class="form-floating mb-3">
            <input class="form-control" #firstname="ngModel" id="firstname" type="text" placeholder="firstname" name="firstname"
              required [value]="" ngModel/>
              <div class="text-danger" *ngIf="firstname.touched && firstname.errors?.minlength">
                Minimum 2 characters
              </div>
            <label for="firstname">First Name</label>
            <span class="text-danger" *ngIf="firstname.touched && firstname.errors?.required">
              *Required
              </span>
          </div>

          <div class="form-floating mb-3">
            <input class="form-control" id="lastname" type="text" placeholder="lastname" name="lastname"
              required [value]="" ngModel/>
            <label for="lastname">Last Name</label>

          </div>

          <!-- Email address input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="email" type="email" placeholder="Email Address" name="email" required [value]="" ngModel/>
            <label for="email">Email address</label>

          </div>

          <!-- Phone number input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" name="phone" required [value]="" ngModel/>
            <label for="phone">Phone number</label>

          </div>
          </div>
          <!-- Message input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." name="message"
              style="height: 10rem"  required [value]="" ngModel></textarea>
              <label for="message">Message</label>

            </div>
          <!-- Submit success message-->
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <button class="btn btn-primary btn-xl btn-block " id="submit" type="submit">Submit</button>
          </div>
          <hr class="divider my-4">
        </form>
      </div>
    </div>
  </div>
</section>
